* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

#interests {
  margin-top: -500px;
}

@-webkit-keyframes Siren {
  0%{background-position:0% 92%}
  50%{background-position:100% 9%}
  100%{background-position:0% 92%}
}
@-moz-keyframes Siren {
  0%{background-position:0% 92%}
  50%{background-position:100% 9%}
  100%{background-position:0% 92%}
}
@-o-keyframes Siren {
  0%{background-position:0% 92%}
  50%{background-position:100% 9%}
  100%{background-position:0% 92%}
}
@keyframes Siren {
  0%{background-position:0% 92%}
  50%{background-position:100% 9%}
  100%{background-position:0% 92%}
}
